.container {
  height:100vh;
  background-image:linear-gradient(to right,rgb(0, 0, 0) 0%,rgb(35, 34, 34) 50%, rgb(180, 178, 178) 50%,rgb(180, 178, 178)  100%);
  overflow: hidden;
  display:flex;
  flex:1;
  flex-direction:row;
}
